* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
	box-sizing: border-box;
}

.footer {
	padding: 0 200px;
}

.header, .footer {
	background-color: #1F2937;
	color: #F9FAF8;
}

.header {
	padding: 20px 200px 100px;
}

.header-links {
	display:flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header-links > p {
	font-size: 24px;
	color: #F9FAF8;
}

.header-info {
	display:flex;
	gap: 50px;
}

.header-info-image {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 700px;
	height: 200px;
	background-color: #6A89A7;
}

.header-info-text > h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;

}

button {
	color: #F9FAF8;
	background-color: #3882f6;
	width: 100px;
	margin-top:10px;
	padding: 5px;
	border-radius: 5px;
	border-style: none;
}

li
{
	padding-left: 20px;
	display: inline;
	list-style-type: none;
}

.header-info-text > p, .header-links li {
	font-size: 16px;
	color: #E5E7EB;
}

.random-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}


.illustrations  {
	display: inline;
}


.box-illust {
	border-style: solid;
	border-width: 3px;
	border-color: #3882f6;
	border-radius: 15px;
	margin: 30px 20px 3px;
}

.box-comment, .box-illust {
	display:inline-block;
	width: 150px;
	height: 150px;
}

.box-comment {
	margin: 3px 20px 3px;
	text-align: center;
}

.quote {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E5E7EB;
	padding: 0px 300px;
}

.quote-citation {
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
}

.quote-author {
	font-size: 18px;
	font-weight: 900;
	align-self: end;
}

.action {
	display:flex;
	margin: 70px auto;
	align-items: center;
	justify-content: center;
	background-color: #3882f6;
	width: 900px;
	height:120px;
	gap: 70px;
	border-radius: 10px;
}

.action-call {
	font-size: 18px;
	color:#F9FAF8;
	font-weight: 500;
}


.action-text {
	font-size: 14px;
	color:#E5E7EB;
}

.action > button {
	border-color: white;
	border-style: solid;
}

.footer {
	text-align: center;
	padding: 30px;
}